.fullWidth{
    width: 100%;
}


.centerScreen{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.centerHorizontal{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#chipSection{
    display: flex;
    flex-direction: column;
}

#chips{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.chipDiv{
    margin: 5px;
}

#newChip{
    display: flex;
    flex-direction: row;
    align-items:center;
    margin-top: 10px;
}

#addChipButton{
    margin-left: 10px;
}