/* body{
    background-color:#FAF9F6;
} */

.fullWidth{
    width: 100%;
}


.centerScreen{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.centerHorizontal{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#chipSection{
    display: flex;
    flex-direction: column;
}

#chips{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.chipDiv{
    margin: 5px;
}

#newChip{
    display: flex;
    flex-direction: row;
    align-items:center;
    margin-top: 10px;
}

#addChipButton{
    margin-left: 10px;
}

.aquaBg{
    background-color: aquamarine;
}

.fullHeight{
    height: 100vh
}

.preview{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
}

.clickable{
    cursor:pointer;
}

.recipeDiv{
    margin-top: 10px;
}

.testDiv{
    background-color: aquamarine;
    border: black;
    border-style: solid;
    width: 100%;
    height: 300px;
}

.video{
    width: 1120px;
    height: 630px;
    align-self: center;
}

.videoDiv{
    width: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1200px) {
    .preview{
        flex-direction: column;
    }

    .video{
        width: 100%;
        height: 50vw
    }
}